{
  "CN": "system:node:${instance}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "Rennes",
      "O": "system:nodes",
      "OU": "Phenix",
      "ST": "Breatagne"
    }
  ]
}